/* css */

/*
button colors: 

blue button normal: rgba(45,139,204,1);
blue button active: rgba(61,168,242,1);
red button normal: rgba(217,78,76,1);
red button active:  rgba(255,84,81,1);
yellow button normal: rgba(217,216,54,1);
yellow button active: rgba(242,241,97,1);
green button normal: rgba(48,191,66,1);
green button active: rgba(34,229,5,1);

start button normal: rgba(48,191,66,1);
start button active: rgba(57,229,79,1);
strict mode normal:
strict mode active:
danger mode normal:
danger mode active:
*use keyboard normal:
*use keyboard active:
*/

html, body {
    font-family: 'Alfa Slab One', cursive;
}


/*game layout*/

@media (min-width: 801px){
    
    #gameLoadMessage {
        visibility: hidden;
        background-color: rgba(50,50,50,.9);
        width: 50vw;
        margin-left: 25vw;
        position: absolute;
        top: 35vh;
        height: 45vh;
        font-family: 'Share Tech Mono', monospace;
    }
    
    #gameLoadMessage p {
        position: absolute;
        top: 10vh;
        left: 50%;
        transform: translateX(-50%);
        color: lightblue;
        font-size: 1.2em;
    }
    
    .welcomeList ul {
        line-height: 1.5em;
        color: white;
        
    }
    
    #feature {
        position: absolute;
        right: 0%;
        top: 18vh;
        width: 25vw;
    }
    
    #rules {
        position: absolute;
        left: 0;
        top: 18vh;
    
    }
    
    #playButton {
        position: absolute;
        background-color: rgba(50,100,250,1);
        border: 1px solid white;
        height: 50px;
        width: 100px;
        border-radius: 4%;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 2em;
        box-shadow: 3px 5px 3px 3px black;
    }
    
    #playButton:active {
        position: absolute;
        background-color: rgba(50,100,220,.8);
        border: 1px solid white;
        height: 50px;
        width: 100px;
        border-radius: 4%;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 2em;
        box-shadow: inset 1px 1px 5px 3px black;
    }
    


#simonBody {
    visibility: visible;
    border: 2px solid black;
    border-radius: 100%;
    height: 80vh;
    width: 80vh;
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translateX(-50%);
    background-color: black;
    box-shadow: 5px 10px 25px 1px rgba(50,50,50,.8);
}


/* control panel and buttons */
#simonControlPanel{
    border: 20px solid black;
    background: radial-gradient(rgba(250,250,250,1), rgba(200,200,200,1));
    border-radius: 100%;
    height: 40vh;
    width: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 1px 1px 50px 10px rgba(50,50,50,.3);
}

h1 {
    color: rgba(25,25,25,1);
    text-align: center;
    font-size: 3.7em;
    letter-spacing: .1em;
    margin-top: .9em;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    transform: translateX(-50%);
    z-index: 100;

}

#outputScreen {
    background-color: rgba(50,50,50,1);
    width: 75%;
    height: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border: 2px solid rgba(25,25,25,1);
    border-radius: 5px;
    box-shadow: inset 1px 1px 20px 5px rgba(200,200,200,0.2);
    
    
}

#outputScreen p {
    font-family: 'Share Tech Mono', monospace;
    font-weight: regular;
    font-size: 3em;
    position: absolute;
    top: 0%;
    left: 20%;
    padding: 0px;
    margin: 0;
    color: rgba(235,235,235,1);
    letter-spacing: .3em;
}

#startResetButton {
    background-color: rgba(76,227,95,1);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 25%;
    transform: translateX(-25%);
    top: 65%;
    border: 2px solid rgba(50,50,50,1);
    box-shadow: inset 2px 2px 5px 3px rgba(50,50,50,.3);
}

#strictModeButton {
    background-color: rgba(255,254,107,1);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 65%;
    border: 2px solid rgba(50,50,50,1);
    box-shadow: inset 2px 2px 5px 3px rgba(50,50,50,.3);
}

#dangerButton{
    background-color: rgba(255,84,81,1);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 75%;
    transform: translateX(-75%);
    top: 65%;
    border: 2px solid rgba(50,50,50,1);
    box-shadow: inset 2px 2px 5px 3px rgba(50,50,50,.3);
}

#dangerButton:active {
    background-color: rgba(255,84,81,1);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 75%;
    transform: translateX(-75%);
    top: 65%;
    border: 2px solid rgba(50,50,50,1);
    box-shadow: inset 2px 2px 5px 5px rgba(50,50,50,.3);
}

#strictModeButton:active {
    background-color: rgba(255,254,107,1);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 65%;
    border: 2px solid rgba(50,50,50,1);
    box-shadow: inset 2px 2px 5px 5px rgba(50,50,50,.3);
}

#startResetButton:active {
    background-color: rgba(76,227,95,1);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 25%;
    transform: translateX(-25%);
    top: 65%;
    border: 2px solid rgba(50,50,50,1);
    box-shadow: inset 2px 2px 5px 5px rgba(50,50,50,.3);
}

    
/* game touch buttons */


.gamePiece {
    height: 46%;
    width: 46%;
    position: absolute;
    border: 5px solid black;
    box-shadow: inset 1px 1px 50px 10px rgba(50,50,50,.3);
}

#simonTouchOne {
    background-color: rgba(45,139,204,1);
    border-top-left-radius:100%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    top: 2%;
    left: 2%;
    
}

#simonTouchTwo {
    background-color: rgba(217,78,76,1);
    border-top-right-radius: 100%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    top: 2%;
    right: 2%;
}

#simonTouchThree {
    background-color: rgba(255,254,107,1);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    bottom: 2%;
    left: 2%;
}

#simonTouchFour {
    background-color: rgba(48,191,66,1);
    border-bottom-right-radius: 100%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    bottom: 2%;
    right: 2%;
}

#groupedGamePieces {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: transparent;
    
}
    
    .blueActive {
        box-shadow: inset 20px 50px 50px 1px rgba(220,220,220,.8);
    }  
    
    .redActive {
        box-shadow: inset 20px 50px 50px 1px rgba(220,220,220,.8);
    } 
    
    .greenActive {
        box-shadow: inset 20px 50px 50px 1px rgba(220,220,220,.8);
    } 
    
    .yellowActive {
        box-shadow: inset 20px 50px 50px 1px rgba(220,220,220,.8);
    } 
    
}


/* keyboard switch*/

#switchBox {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    width: 20%;
    height: 7%;
    background-color: rgba(100,100,100,1);
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px 1px rgba(50,50,50,1);
    overflow: hidden;
}

#switch {
    position: relative;
    background-color: rgba(190,190,190,1);
    height: 90%;
    width: 50%;
/*    left: 50%;*/
    border-radius: 5px;
    box-shadow: 2px 1px 5px 1px rgba(50,50,50,.7);
    border: 1px solid rgba(50,50,50,.5);
}